@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.my-bg-color{
    background-color: #110929;
   
}
.card-bg-color{
  background-color: #160A3B;
}
.btn-bg-gradient{
  background-image: linear-gradient(to right, #8d1cfe, #0038ed);
}
.transition{
  transition: all 1s ease;
}
.roshni-color{
  background-color: #D622DA96;

  filter: blur(200px);
}
.progress-bg{
  background-color:  #300D62;
}